*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(img/hero12.webp);
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    width: 100%; 
}
nav h1 {
    color: teal;
    text-transform: uppercase;
    font-style: italic;
    margin: 0.3rem;
    animation-delay: 1s;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.form {
    background-color: lightgrey; 
    width: 100%; 
    height: auto; 
    padding: 0.5rem; 
    margin: 0.3rem; 
    border-radius: 10px; 
    position: relative; 
    top: 9%; 
    left: 20%;
    z-index: 2;
}
.warning {
    color: red;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.3rem;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why {
    margin-top: 7.5%;
    margin-left: calc(50% - 10px);
}
.slide-in {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
.rad {
    border-radius: 20px;
}
.full-width {
    padding: 1rem;
}
@keyframes slide {
    0% {
        transform:scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@media  only Screen and  (min-width: 600px){
    label {
        display: none;
    }
    .form {
        top: 50%;
        width: 30%;
        left: calc(50% - 200px);
    }
    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form {
        z-index: 3;
    }
    .form .input {
        width: 75%;
        margin: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
    }

    .form .input:focus {
        outline: none;
        border: 2px solid rgba(4, 18, 22, 0.548);
    }
    #result {
    width: 100%;
    padding: 1rem;
}
.full-width {
     width: 100% !important;
     height: auto ;
     position: relative;
     z-index: -1;
     padding: 1rem;
}
.rad {
    border-radius: 5px;
}
}